<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Avaliação Vendedor</title>
</head>
<body>
        <div >
            <form>
                <table>
                    <td>
                        <label>Dados Do RCA</label>
                    </td>
                    <tr>
                    <td>
                        <label>Cód RCA </label>
                    </td>
                    </tr>
                </table>
            </form>
        </div>
<footer>
    <hr>
</footer>
</body>
</html>